<div class="jumbotron text-center">
  <h2>MEAN Authentication App</h2>
  <p>Welcome to our awesome MEAN authentication app.</p>
  <br>
  <p>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a>
  </p>
</div>
<div class="row" style="height:400px">
  <div class="col-md-4">
    <div class="card card-outline-primary text-xs-center h-50">
      <div class="card-block">
        <h3>Express Backend</h3>
        <p>NodeJS/Express and Mongoose. </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-outline-primary text-xs-center h-50">
      <div class="card-block">
        <h3>Angular-CLI</h3>
        <p>Angular-CLI to generate components, services.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-outline-primary text-xs-center h-50">
      <div class="card-block">
        <h3>JWT Tokens</h3>
        <p>Full featured authentication using JSON Web tokens.</p>
      </div>
    </div>
  </div>
</div>
