<nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']">Mean Auth App</a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <!--li class="nav-item" *ngIf="authService.loggedIn()">
        <button class="btn btn-outline-primary" (click)="onLogoutClick()">Logout</button>
      </li-->
    </ul>
  </div>
</nav>
